{% load static %}
<div class="nav_container" style="background-color: blue; color:blue">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:purple;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'main:showmain' %}">🥕LIKELION_SNS_JY🥕</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'main:showmain' %}"
              >Home</a>
            
          </li>
          <li class="nav-item">
            <a  class="nav-link active"
            aria-current="page" href = "{% url 'main:my_like' request.user.id %}" >내 좋아요 목록</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              게시글
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="{% url 'main:posts' %}"
                  >게시글 목록</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'main:new' %}"
                  >게시글 작성</a
                >
              </li>
            </ul>
            <!--로그인-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              계정
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">로그아웃</a></li>
              <li><a class="dropdown-item" href="{% url 'users:mypage' %}">Mypage</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'account_login' %}">로그인</a></li>
              <li><a class="dropdown-item" href="{% url 'account_signup' %}">회원가입</a></li>
              {% endif %}
              </ul>
            </li>          

          </li>

          
        </ul>


      </div>
    </div>
  </nav>
</div>