.navbar {
    padding-top: 0px;
    background-color: rgb(241, 203, 134);
}

.likelion {
    color : orange;
    font-size: 40px;
    font-weight: 300;
}
.nav-item, .collapse, .container-fluid {
    background-color: rgb(241, 203, 134);
}
.intro {
    color : orange;
    font-size: 30px;
}
.backtoHome{
    color: orange;
    font-size: 30px;
    margin-left: 48%;
}
.content>p{
    font-size: 20px;
    color: rgb(85, 62, 22);
    text-align: center;
}
.hi{
    color: rgb(85, 62, 22);
    text-align: center;
}

.my_like_list{
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(85, 62, 22);
}

.posts_list{
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(85, 62, 22);
}

.post_title{
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(85, 62, 22);
}
.hello_user{

    color: rgb(85, 62, 22);
}

