{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
    <br>
    <h2 class="posts_list" style="font-weight:bold;">📑 게시글 목록</h2><br>
    <div>

        {% for post in posts %}
        <div>
            <h3>{{post.title}}</h3>
            {% if post.writer %}
            {% if 'user' in post.writer.username %}
            <h4>작성자 : {{ post.writer.last_name }} {{post.writer.first_name }}</h4>
            {% else %}
            <h4>작성자 : {{ post.writer }}</h4>
            {% endif %}
            {% else %}
            <h4>작성자 : 알 수 없음</h4>
            {% endif %}
            
            {{post.summary}}<br>
            <a href="{% url 'main:detail' post.id %}">...자세히</a><hr>
        </div>
        {% endfor %}
        {% else %}
        <a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
        <a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>

        {% endif %}
    </div>
{% endblock %}

{% comment %} 사용자 이름 : jylee, 비번 : 0000 {% endcomment %}
